
.has-admin_hover {
  position: relative;
}
.has-admin_hover-hover {
  background-color: #ffffe1;
}
  .node .has-admin_hover-hover {
    background-color: #ffffd0;
  }
  .block-admin_hover-hover {
    background-color: #e1ffff;
  }
.admin_hover {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10000;
  padding: 2px 2px 2px 0;
  background: #fff;
  border: 1px #ee9 solid;
}
  .node .node-has-admin_hover .node-admin_hover {
    top: auto;
    bottom: 0px;
  }
  .block-admin_hover {
    top: -22px;
  }
.admin_hover ul {
  margin: 0px !important;
  padding: 0 2px 0 0 !important;
}
  .admin_hover ul li {
    float: left;
    margin: 0 0 0 5px !important;
    padding: 0 0 0 5px !important;
    border: 1px #ee9 solid;
    border-width: 0 0 0 1px;
    list-style: none;
    background: none;
  }
  .admin_hover ul li.first {
    margin: 0px !important;
    border: none !important;
  }
  .admin_hover ul li a {
    display: block;
    height: 16px;
    width: 16px;
    background: none;
    background-image: url('icons/unknown.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
  }
  .admin_hover ul li a.admin_hover-block_configure {
    background-image: url('icons/edit.png');
  }
  .admin_hover ul li a.admin_hover-block_add {
    background-image: url('icons/add.png');
  }
  .admin_hover ul li a.admin_hover-node_add {
    background-image: url('icons/add.png');
  }
  .admin_hover ul li a.admin_hover-node_edit {
    background-image: url('icons/edit.png');
  }
  .admin_hover ul li a.admin_hover-node_publish {
    background-image: url('icons/node_publish.png');
  }
  .admin_hover ul li a.admin_hover-node_unpublish {
    background-image: url('icons/node_unpublish.png');
  }
  .admin_hover ul li a.admin_hover-node_promote {
    background-image: url('icons/node_promote.png');
  }
  .admin_hover ul li a.admin_hover-node_unpromote {
    background-image: url('icons/node_unpromote.png');
  }
  .admin_hover ul li a.admin_hover-node_make_sticky {
    background-image: url('icons/node_make_sticky.png');
  }
  .admin_hover ul li a.admin_hover-node_make_unsticky {
    background-image: url('icons/node_make_unsticky.png');
  }
  .admin_hover ul li a.admin_hover-node_delete {
    background-image: url('icons/delete.png');
  }
  .admin_hover ul li a.admin_hover-node_clone {
    background-image: url('icons/clone.png');
  }
  .admin_hover ul li a.admin_hover-node_devel {
    background-image: url('icons/node_devel.png');
  }
  .admin_hover ul li a.admin_hover-user {
    background-image: url('icons/user.png');
  }
  .admin_hover ul li a.admin_hover-user_edit {
    background-image: url('icons/user_edit.png');
  }
